{% extends "paginas/base.html"%}

{% block title %}Lista de libros{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <a name="" id="" class="btn btn-primary" href="{%url 'crear'%}" role="button">Agregar nuevo libro</a>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>1</td>
                        <td>python multiproposito</td>
                        <td>imagen.jpg</td>
                        <td>Libros de python</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar'%}" role="button">Editar</a>
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
{% endblock %}