{% extends "paginas/base.html"%}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white border rounded-3 align-items-center" style="background-color:black">
            <h2>Bienvenido al sitio de la Libreria</h2>
            <p class="lead">Empezar a ingresar libros</p>
            <button class="btn btn-danger" type="button">Empezar</button>
        </div>
    </div>
</div>
{% endblock %}